/* CSS */

body {
	max-width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 0;
	background: #fff;
	color: #02b3e4;
	font-family: Verdana, Geneva, Sans-Serif;
}


/* header */

.header {
	min-height: 120px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 2px #02b3e4;

}

.logo {
	text-align: left;
	margin: auto 0 auto 10px;
}

.rounded {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.title {
	text-align: right;
	margin: auto 10px auto 0;
}

h4 {
	padding: 0 5px;
}

h5 {
	text-transform: uppercase;
}


/* banner */

.banner {
	max-width: 100%;
	height: auto;
	margin: 10px 0;
}


/* main */

.featured-work {
	text-align: center;
	margin: 0;
}

.container {
	padding: 0;
	margin: 0;
	max-width: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-item {
	height: auto;
	width: auto;
	margin: 10px 25px 15px 10px;
	padding: 0;
	box-shadow: 10px 10px 10px 5px rgba(125,151,173,0.4);
	justify-content: space-around;
}

.flex-item p {
	color: #7d97ad;
	text-align: justify;
	font-size: 16px;
	padding: 10px;
}

.flex-item:hover {
	box-shadow: 10px 10px 10px 5px rgba(45,60,73,0.4);
}

.photo {
	max-width: 100%;
	height: auto;
}


/* footer */
.footer {
	text-align: center;
	margin: 20px 0;
	color: #7d97ad;
	font-size: 12px;
}

img.social {
	width: 48px;
	height: 48px;
}

@media screen and (min-width: 500px) {
	.flex-item {
		width: calc((100% - 70px) / 2);
	}
}

@media screen and (min-width: 800px) {
	.flex-item {
		width: calc((100% - 105px) / 3);
	}
}